In [1]:
import mglearn
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.decomposition import PCA
from matplotlib.colors import ListedColormap
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score

/Users/t2023-m0093/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [7]:
from sklearn.metrics import precision_score, recall_score, f1_score
import mglearn
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.decomposition import PCA
from matplotlib.colors import ListedColormap
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [9]:
df = pd.read_csv('heart 2.csv')
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [4]:
df=pd.get_dummies(df, columns=['sex', 'region'], drop_first=True)
df

,age,bmi,children,smoker,charges,sex_male,region_northwest,region_southeast,region_southwest
0,19,27.900,0,yes,16884.92400,False,False,False,True
1,18,33.770,1,no,1725.55230,True,False,True,False
2,28,33.000,3,no,4449.46200,True,False,True,False
3,33,22.705,0,no,21984.47061,True,True,False,False
4,32,28.880,0,no,3866.85520,True,True,False,False
...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,no,10600.54830,True,True,False,False
1334,18,31.920,0,no,2205.98080,False,False,False,False
1335,18,36.850,0,no,1629.83350,False,False,True,False
1336,21,25.800,0,no,2007.94500,False,False,False,True
1337,61,29.070,0,yes,29141.36030,False,True,False,False

In [10]:
x = df[["Age", "RestingBP", "Cholesterol","MaxHR"]]
y = df[["HeartDisease"]]

In [11]:
from sklearn.preprocessing import StandardScaler

StandardScaler = StandardScaler()
df_mm = StandardScaler.fit_transform(x)
df_mm

array([[-1.4331398 ,  0.41090889,  0.82507026,  1.38292822],
       [-0.47848359,  1.49175234, -0.17196105,  0.75415714],
       [-1.75135854, -0.12951283,  0.7701878 , -1.52513802],
       ...,
       [ 0.37009972, -0.12951283, -0.62016778, -0.85706875],
       [ 0.37009972, -0.12951283,  0.34027522,  1.4615246 ],
       [-1.64528563,  0.30282455, -0.21769643,  1.42222641]])

In [12]:
x_mm = pd.DataFrame(data=df_mm,columns=x.columns)
X_train, X_test, y_train, y_test = train_test_split(x_mm,y,train_size=0.7,random_state=111)

In [13]:
cls = KNeighborsClassifier(n_neighbors= 3, weights= 'uniform', metric='minkowski')
cls.fit(X_train, y_train)
print(cls.score(X_train, y_train), 'train의 정확도')
print(cls.score(X_test, y_test),'test의 정확도')

0.838006230529595 train의 정확도
0.6521739130434783 test의 정확도

/Users/t2023-m0093/anaconda3/lib/python3.11/site-packages/sklearn/neighbors/_classification.py:238: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [19]:
y_pred = cls.predict(X_test)

In [20]:
accuracy = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred, average='macro')
precision = precision_score(y_test, y_pred, average='macro')
recall = recall_score(y_test, y_pred, average='macro')

In [21]:
print("정확도:", accuracy)
print("F1 스코어:", f1)
print("Precision:", precision)
print("Recall:", recall)

정확도: 0.6521739130434783
F1 스코어: 0.6349206349206349
Precision: 0.6341730558598029
Recall: 0.6359600443951166